.navBar-header {
    width: 100%;
    /* background-color: rgb(46, 157, 104); */
    background: linear-gradient(90deg, #012f94 0%, #A3E8C8 100%);
    /* background: #F2C438; */
    .container {
        .row {
            background-color: transparent;
            .navBar-items{
                padding: 6px;
                display: flex;
                justify-content: center;
                height: 100%;
                a {
               
                    color: white !important;
                    padding: 10px 20px;
                }
            }
            .col-logo {
                a {
                    padding: 0;
                }
                .logo {
                    height: 100%;
                    max-height: 50px;
                    vertical-align: center;
                }
            }
        }
    }
}

@media (max-width: 988px) {
    .navBar-header {
        padding: 10px;
    }
  }