.container-sign {
    .col-left {
        border-radius: 50px 20px;
    }
    .col-right {
        border-radius: 50px 20px;
    }

    .background {
        background: #A3E8C8;
        background: linear-gradient(to right, #012f94, #A3E8C8) no-repeat 0 0 / cover;
        color: #fff;
    }




}



   