body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(90deg, #000428 0%, #004e92 100%);
  background: linear-gradient(90deg, #ffffff 0%, #ffffff 100%);
  /* #000428 → #004e92 */
 
}

footer {
  margin-top: auto !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.css-b62m3t-container {
  min-width: 100px;
}

/* .navlink-logo, .nav-container, .navbar-collapse, .navbar-nav{
  max-height: 100%;
}


.navlink-logo {
  max-height: 50px;
} */

@media only screen and (min-width: 992px) {
  .navBar-header {
    max-height: 70px;
  }
}
.hm-50px {
  height: 50px;
}

.navbar-collapse {
  justify-content: space-between;
}



.navBar-header>nav>.container , .navBar-header>nav {
  padding-top: 0;
  padding-bottom: 0;
}

.navBar-header a {
  color: white;
}

.navBar-header .navlink {
  padding: 3px;
}




@media only screen and (max-width: 991px) {
  
.navBar-header .navlink {
  padding: 20px;
}

.navbar-collapse {
  padding-bottom: 20px;
}

}

.dropdown-menu a {
  color: black !important;;
}

.dropdown-toggle.btn#dropdown-basic-button {
  background: transparent;
  border: none;
}

a {
  text-decoration: none !important;
}


/* FROM */
        
button, .a-button  {
  border-radius: 20px;
 
  border: 0 solid #0d6efd;
  background: #0d6efd;
  color: #fff !important;
  text-decoration: none;
  font-size: 1rem;
  font-weight: normal;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
 
  max-width: 200px;
}

button:hover, .a-button:hover  {
  background: #0b5ed7;
  font-weight: normal;
  text-transform: uppercase;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
 
  max-width: 200px;
}

.custom-form input {
  background: #eee !important;
  border: none !important;
  padding: 12px 15px !important;
  margin: 8px 0 !important;
  width: 100% !important;
}


input {
  background: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

input[type="radio"] {
  
}


/* BLOBs */
.blob-container {
  max-width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

.shape-blob {
	background:#A3E8C8 ;
	height: 200px;
	width: 200px;
	border-radius: 30% 50% 20% 40%;
  	animation: 
		transform 20s ease-in-out infinite both alternate,
		movement_one 40s ease-in-out infinite both;
	opacity:.7;
    z-index: -9;
	position: absolute;
	left: 70%;
	top: 50%;
  max-width: 100%;
}
.shape-blob.one{
	height: 500px;
	width: 500px;
	left: -10%;
  max-width: 100%;
	top: -20%;
	transform: rotate(-180deg);
	animation: transform 30s ease-in-out infinite both alternate, movement_two 60s ease-in-out infinite both;
  /* background-color: #538CAE; */
  max-width: 100%;
}

.shape-blob.two{
	height: 350px;
	width: 350px;
  max-width: 100%;
	left: 50%;
	top: -20%;
	transform: rotate(-180deg);
	animation: transform 30s ease-in-out infinite both alternate, movement_two 60s ease-in-out infinite both;
  /* background-color: #012F94; */
  max-width: 100%;
}

.shape-blob.three{
	height: 350px;
	width: 350px;
  max-width: 100%;
	left: 0%;
	top: -80%;
	transform: rotate(-160deg);
	animation: transform 25s ease-in-out infinite both alternate, movement_one 60s ease-in-out infinite both;
  /* background-color: #012F94; */
  max-width: 100%;
}

@keyframes transform
{
    0%,
  100% { border-radius: 33% 67% 70% 30% / 30% 30% 70% 70%; } 
   20% { border-radius: 37% 63% 51% 49% / 37% 65% 35% 63%; } 
   40% { border-radius: 36% 64% 64% 36% / 64% 48% 52% 36%; } 
   60% { border-radius: 37% 63% 51% 49% / 30% 30% 70% 70%; } 
   80% { border-radius: 40% 60% 42% 58% / 41% 51% 49% 59%; } 
}


@keyframes movement_one
{
    0%,
  100% { transform: none; }
   50% { transform: translate(50%, 20%) rotateY(10deg) scale(1.2); }
}

@keyframes movement_two
{
    0%,
  500% { transform: none; }
   50% { transform: translate(50%, 20%) rotate(-200deg) scale(1.2);}
}



.btn-primary {
  /* background-color: #4D6DB4;
  border-color: #4D6DB4; */
}

.cursor-pointer {
  cursor: pointer;
}

.h-0 {
  height: 0;
}

.w-0 {
  width: 0;
}

.wh-0 {
  width: 0;
  height: 0;
}

.z-index-1 {
  z-index: 1;
}

.row {
  margin: 0;
}

.square {
  width: 0;
  margin: 0;
}

.w-40px {
  width: 40px;
}


.filter-box-enter {
  opacity: 0;
  transform: translateY(-20px);
}

.filter-box-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 400ms, transform 400ms;
}

.filter-box-exit {
  opacity: 1;
  transform: translateY(0);
}

.filter-box-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 400ms, transform 400ms;
}



.pulse {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
