@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .container-sign {
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

body .container-sign .form-container form {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 50px;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.container-sign {
  margin-top: 50px;
}

.container-sign a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.container-sign .social-container {
  margin: 20px 0;
}

.container-sign .social-container a {
  border: 1px solid #ddd;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}

.container-sign .form-container input {
  background: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.container-sign button {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background: #ff445c;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: -webkit-transform 80ms ease-in;
  transition: -webkit-transform 80ms ease-in;
  transition: transform 80ms ease-in;
  transition: transform 80ms ease-in, -webkit-transform 80ms ease-in;
}

.container-sign button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.container-sign button:focus {
  outline: none;
}

.container-sign button.ghost {
  background: transparent;
  border-color: #fff;
}

.container-sign .form-container {
  position: absolute;
  top: 0;
  height: 100%;
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

.container-sign .sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container-sign .sign-up-container {
  left: 0;
  width: 50%;
  z-index: 1;
  opacity: 0;
}

.container-sign .overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  -webkit-transition: -webkit-transform .6s ease-in-out;
  transition: -webkit-transform .6s ease-in-out;
  transition: transform .6s ease-in-out;
  transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out;
  z-index: 100;
}

.container-sign .overlay {
  background: #A3E8C8;
  background: -webkit-gradient(linear, left top, right top, from(#012f94), to(#A3E8C8)) no-repeat 0 0/cover;
  background: linear-gradient(to right, #012f94, #A3E8C8) no-repeat 0 0/cover;
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform .6s ease-in-out;
  transition: -webkit-transform .6s ease-in-out;
  transition: transform .6s ease-in-out;
  transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out;
}

.container-sign .overlay-panel {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 50%;
  text-align: center;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform .6s ease-in-out;
  transition: -webkit-transform .6s ease-in-out;
  transition: transform .6s ease-in-out;
  transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out;
  padding: 60px;
}

.container-sign .overlay-right {
  right: 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.container-sign .overlay-left {
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
}

/* Move signin to right */
.container-sign.right-panel-active .sign-in-container {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

/* Move overlay to left */
.container-sign.right-panel-active .overlay-container {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

/* Bring signup over signin */
.container-sign.right-panel-active .sign-up-container {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}

/* Move overlay back to right */
.container-sign.right-panel-active .overlay {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

/* Bring back the text to center */
.container-sign.right-panel-active .overlay-left {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

/* Same effect for right */
.container-sign.right-panel-active .overlay-right {
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  letter-spacing: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=CreateUser.css.map */