img {
    max-width: 100%;
}

.landing-page-background {
    // background-image: url(../../assets/images/blob.svg), url(../../assets/images/right-bubble2.svg);
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: 167px, 68%;
    background-position: left, right bottom;
    overflow: hidden;
    .container {
  
      
        .row {
            background: transparent;
            .landing-page-description {
                font-size: 1.5rem;
            }
        }
    }
}










button, a {
    // font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    // font-size: 1rem;
    // font-weight: 600;
}

/* PERPECTIVE */
.button-perspective {
    background-color: #0d6efd;
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    color: #000000;
    display: flex;
    justify-content: center;
    line-height: 1.75rem;
    padding: .75rem .65rem;
    position: relative;
    text-align: center;
    width: 100%;
    max-width: 260px;
    position: relative;
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-decoration: none;
    border-radius: 0.575rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  .button-perspective:hover {
    background-color: #0b5ed7;
    border-color: #0b5ed7;
    width: 100%;
    max-width: 260px;
    border-radius: 0.575rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  
//   .button-perspective:focus {
//     outline: 0;
//   }
  
//   .button-perspective:after {
//     content: '';
//     position: absolute;
//     border: 1px solid #000000;
//     bottom: 4px;
//     left: 4px;
//     width: calc(100% - 1px);
//     height: calc(100% - 1px);
//     border-radius: 0.575rem;
//   }
  
//   .button-perspective:hover:after {
//     bottom: 2px;
//     left: 2px;
//   }
  
  @media (min-width: 768px) {
    .button-perspective {
      padding: .75rem 3rem;
      font-size: 1.25rem;
    }
  }
  