.card-col {
    padding: 10px;
  
    /* Style for cards */
    .card {
      min-width: 200px !important;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      
      /* Style for unordered list inside the card */
      ul {
        margin: 0;
        padding: 0;
        display: flex !important;
  
        /* Style for list items inside the unordered list */
        li {
          list-style: none;
          padding: 3px 6px;
          color: #fff;
          background-color: rgb(91, 144, 250);
          margin: 3px;
          border-radius: 5px;
          cursor: pointer;
        }
      }
  
      /* Style for card buttons */
      .card-buttons {
        margin-top: -1.33rem;
  
        /* Style for buttons inside card-buttons */
        button {
          margin: 0 5px;
        }
      }
  
      /* Style for card title */
      .card-title {
        padding-top: 5px;
        margin: 0;
      }
  
      /* Style for card body */
      .card-body {
        padding: 0;
  
        /* Style for .body inside card-body */
        .body {
          padding: 5px;
        }
  
        /* Style for .footer inside card-body */
        .footer {
          display: flex;
          padding: 5px;
          background-color: #dddddd;
        }
      }

      &:hover {
        box-shadow: 0 0.25rem 0.8rem rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
      }

    }
  }