.play-mode-chooser-row {
    .card {
        .card-body {
            padding: 1rem !important;
        }
        .info-icon {
            cursor: pointer;
            transition: color 0.3s ease;
            &:hover {
                color: #007bff;
            }
        }
    }
    
}
